.button {
  border: solid;
  border-width: 1px;
  font-family: "Circular Std";
  font-weight: 700;
}

.button-color {
  background-color: #1ed760;
  border-color: #1ed760;
  color: black;
  transition: 300ms;
}

.button-color:hover {
  background-color: #1fdf64;
  border-color: #1fdf64;
  color: black;
  transition: 300ms;
}

.button-color:focus {
  color: black;
  background-color: #169c46;
  border-color: #169c46;
}

.button-color:disabled {
  color: black;
  background-color: #1ed760;
  border-color: #1ed760;
}

.button-outline {
  background-color: transparent;
  border-color: white;
  color: white;
  transition: 300ms;
}

.button-outline:hover {
  background-color: white;
  border-color: white;
  color: black;
  transition: 300ms;
}

.button-outline:focus {
  background-color: white;
  border-color: white;
  color: black;
}

.button-outline:disabled {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button-delete {
  background-color: #E22034;
  border-color: #E22034;
  color: white;
  transition: 300ms;
}

.button-delete:hover {
  background-color: #ea0f25;
  border-color: #ea0f25;
  transition: 300ms;
}

.button-delete:focus {
  background-color: #a7202e;
  border-color: #a7202e;
}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  .delete {
    margin-top: 1rem;
  }
}

.stretch {
  width: 12rem;
}