.artist-names {
  font-size: 0.9rem;
  color: #b3b3b3;
}

.track-image {
  margin-right: 15px;
}

.playlist-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .affix {
    position: fixed;
  }

  .playlist-title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.label-text {
  letter-spacing: 0.1rem;
  font-family: "Circular Std";
  font-weight: 400;
  font-size: 0.8rem;
  color: #bebdb9;
}
