.playlist-card {
  max-height: 21rem;
  max-width: 16rem;
  min-height: 21rem;
  min-width: 16rem;
  border: none;
  border-radius: 2%;
  background-color: #181818;
  transition: 200ms;
}

.playlist-card:hover {
  background-color: #282828;
  transition: 200ms;
  cursor: pointer;
}
